/* Main tags */
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 232, 232);
}
/* Header Section */
header {
  margin: 1rem 0;
}
/* Main Section */
/* style from input are in country_asset.css */

.img-country-flag {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  width: 20rem;
}
.container-country-main {
  box-shadow: 14px 6px 44px -19px rgba(66, 68, 90, 1);
}
.container-country-lower-section {
  padding: 1rem 2rem;
  background-color: white;
}
.container-country-lower-section p {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}
.country-name-region-container {
  margin-bottom: 0.5rem;
}
.country-name-region-container p {
  margin-bottom: 10rem;
}

/* Footer Section  */
footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: rgb(185, 182, 182);
  color: white;
  color: black;
}
