/* Main tags */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(233, 232, 232);
}
/* Header Section */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.25px solid gray;
}
header img {
  margin: 10px;
  height: 50px;
  cursor: pointer;
}
header div {
  justify-content: center;
}
header p {
  font-size: 25px;
}
header input {
  width: 30rem;
  height: 25px;
  font-size: 20px;
  padding-left: 10px;
  text-align: center;
}
header button {
  margin-right: 100px;
}
.cointerner-left-side {
  display: flex;
}

/* container-neighbour */
.container-neighbour {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  grid-template-columns: repeat(7, 0px);
  grid-template-rows: repeat(4, auto);
  grid-row-gap: 1px;
  grid-column-gap: 300px;
  transform: scale(0.8);
}

/* Footer Section  */
footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: rgb(185, 182, 182);
  color: white;
  color: black;
}
